* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

body{
    background-color: black;
    color: rgb(255, 255, 255);
}

nav{
    border: 2px solid #bf0cdb;
    display: flex;
    align-items: center;
    height: 7vh;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}

.title{
    margin: 0 5vh 0 5vh;
}

.home{
    margin: 0 2vh 0 5vh;
    display: flex;
    align-items: center;
    gap: 5vw;
}

main{
    height: 93vh;
}

@keyframes blink{
    from{
        border-right-color: #bf0cdb;
    }
    to{

    }
}

